.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 10
  background: $white
  &.-scrolled
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3)
    +PC_MIN
      .header__flex
        height: 70px
        
  &__afterSpace
    height: 70px
    transition: 0.4s ease all
    +PC_MIN
      height: 100px
  
  &__flex
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 70px
    transition: 0.4s ease all
    +PC_MIN
      height: 100px