nav.nav
  .nav__button
    i.fa.fa-bars

  .nav__background

  ul.nav__list
    li.nav__item
      a.nav__link.-active(href='./') Home
    li.nav__item
      a.nav__link(href='./') What we do
    li.nav__item
      a.nav__link(href='./') Who we are
    li.nav__item
      a.nav__link(href='./') News
    li.nav__item
      a.nav__link(href='./') Follow us
    li.nav__item
      a.nav__link(href='./') Contact us
    li.nav__item.-icons
      include ../icons/icons-light