.nav
  display: flex
  z-index: 100
  
  &__background
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $white
    display: none
    z-index: 100
    +PC_MIN
      display: none !important
  
  &__button
    +flex-center
    width: 40px
    height: 40px
    font-size: 24px
    position: fixed
    right: 20px
    top: 15px
    color: $blue
    cursor: pointer
    +PC_MIN
      display: none
  
  &__list
    padding: 0
    margin: 0
    +TAB_MAX
      position: fixed
      top: 50%
      left: 50%
      display: none
      z-index: 100
      max-height: 90vh
      overflow-y: auto
      transform: translate(-50%, -50%)
      text-align: center
    +PC_MIN
      display: flex !important
  
  &__item
    +flex-center
    &.-icons
      +TAB_MAX
        margin-top: 30px
      +PC_MIN
        margin-left: 10px
  
  &__link
    +flex-center
    +font(size 16px)
    text-transform: uppercase
    color: $grayDark
    z-index: 2
    position: relative
    transition: 0.3s ease all
    +PHONE_ONLY
      width: 220px
    +PC_MIN
      +font(size 14px)
      padding: 0 10px
    +MIN(1200px)
      +font(size 16px)
      padding: 0 20px
    &:hover, &.-active
      color: $blue
      text-decoration: none