=PRE_MAX
  @media (max-width: 799px)
    @content

=PRE_MIN
  @media (min-width: 800px)
    @content

.prenews
  margin-bottom: 96px
  position: relative
  overflow: hidden
  &.-left
    .prenews__box
      margin-left: auto
    .prenews__content
      text-align: left
      +PRE_MIN
        order: 1
    .prenews__background
      +PRE_MIN
        order: 2
      &:after
        content: ''
        width: 200px
        height: 100%
        background: linear-gradient(to right top, $grayLight 50%, transparent 50%)
        position: absolute
        bottom: 0
        left: 0
        right: auto
    .prenews__img
      left: 0
      right: auto
      transform: rotate(5deg)
    .prenews__text
      margin: 0 auto 0 0
    .prenews__link
      justify-content: flex-start
    .prenews__linkText
      order: 2
    .prenews__linkIcon
      order: 1
      margin: 0 10px 0 0
  
  &__box
    background: $grayLight
    position: relative
    z-index: 2
    display: flex
    +PRE_MAX
      flex-direction: column
    +PRE_MIN
      min-height: 448px
      width: 88%
  
  &__lineblock
    +PRE_MIN
      +absolute-center
      background: $grayMedium
      width: 100%
      height: 384px
      z-index: 1
  
  &__content
    text-align: right
    padding: 42px 20px
    +PRE_MIN
      padding: 65px 60px 40px
      width: 50%
  
  &__background
    background: $blueDark url(../img/prenews__bg.svg) center
    background-size: cover
    position: relative
    overflow: hidden
    +PRE_MAX
      height: 240px
    +PRE_MIN
      width: 50%
      
    &:after
      content: ''
      min-width: 200px
      width: 33%
      height: 100%
      background: linear-gradient(to right bottom, transparent 50%, $grayLight 50%)
      position: absolute
      bottom: 0
      right: 0
      
  &__img
    +section-bg
    height: 100%
    width: 222px
    position: absolute
    bottom: -42px
    right: 0
    transform: rotate(-5deg)
    transform-origin: top
    +PC_MIN
      width: 442px
  
  &__logo
    margin-bottom: 40px
  
  &__text
    max-width: 500px
    margin: 0 0 0 auto
  
  &__linksBox
    +font(size 16px)
    margin-top: 54px
    color: #01579B
  
  &__link
    display: flex
    justify-content: flex-end
    align-items: baseline
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0
  
  &__linkIcon
    margin: 0 0 0 10px