.prenews.-left
  .prenews__box.wow.fadeInRight
    .prenews__background
      - var itemStyle = 'background-image: url('+ imgDir +'prenews__img-1.jpg)';
      .prenews__img(style=itemStyle)

    .prenews__content
      - var imgSrc = imgDir + 'prenews__logo-1.svg';
      img.prenews__logo(src=imgSrc alt='logo')

      .prenews__text SBC Events organise some of the largest international events for the sports, sports betting and gaming industries, with focus on inspiring content, information, networking and new business for senior executives.

      .prenews__linksBox
        a.prenews__link(href="./")
          .prenews__linkText Download SBC Events Presentation
          - var iconSrc = imgDir + 'prenews__icon-download.svg';
          img.prenews__linkIcon(src=iconSrc alt='icon')
        a.prenews__link(href="./")
          .prenews__linkText Visit www.SBCevents.co.uk
          - var iconSrc = imgDir + 'prenews__icon-link.svg';
          img.prenews__linkIcon(src=iconSrc alt='icon')

  .prenews__lineblock
