.gallery
  overflow: hidden
  position: relative
  
  &__item
    +flex-center
    overflow: hidden
    &:hover
      .gallery__thumb
        transform: scale(1.1)
  
  &__thumb
    background-size: cover
    background-position: top right
    width: 100%
    height: 320px
    transition: 0.3s ease all
  
  &__arrowBox
    +flex-center
    position: absolute
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    width: 40px
    height: 64px
    background: transparentize($blueDark, 0.5)
    +TAB_MIN
      width: 60px
      height: 96px
      
    &.-next
      right: 0
    
    &.-prev
      left: 0
      
  &__arrow
    +PHONE_ONLY
      transform: scale(0.67)