extends ../layout/body

block headScripts

block content
  include ../components/header/header
  include ../components/banner/banner
  include ../components/info/info
  include ../components/prenews/prenews-left
  include ../components/prenews/prenews-right
  include ../components/prenews/prenews-left
  include ../components/prenews/prenews-right
  include ../components/prenews/prenews-left
  include ../components/prenews/prenews-last
  include ../components/info/info
  include ../components/gallery/gallery
  include ../components/testi/testi