body
  +fontLato
  +font(size 21px weight 400)
  line-height: 1.5
  color: $gray

*::selection
  background-color: $blue
  color: $white
  
*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)

main
  background: $white
  margin-bottom: 100px
  +TAB_MIN
    margin-bottom: 70px
    
.container
  +container
  
.container-out
  padding: 0 20px
  +PC_MIN
    padding: 0 40px
  

.overflow
  overflow: hidden

img
  display: inline-block