.m-b-0
  margin-bottom: 0

.m-t-0
  margin-top: 0
  
.m-r-0
  margin-right: 0
  
.m-l-0
  margin-left: 0
  
.m-0
  margin: 0 !important
  
.text-center
  text-align: center

.text-uppercase
  text-transform: uppercase

.text-short
  white-space: nowrap
  width: auto
  overflow: hidden
  text-overflow: ellipsis
  