.banner
  +section-bg
  min-height: 500px
  height: calc(100vh - 70px)
  overflow: hidden
  +PHONE_ONLY
    padding: 25px 0
  +TAB_MIN
    padding: 50px 0
  +PC_MIN
    height: calc(100vh - 100px)
  +MIN(1300px)
    padding: 95px 0
  
  &__container
    position: relative
    height: 100%
    
  &__info, &__text
    +TAB_MAX
      padding: 0 21px
    +PC_MIN
      padding: 0 40px
  
  &__text
    color: $white
    font-weight: 300
    position: absolute
    left: 0
    top: 0
    width: 90%
  
  &__title
    text-transform: uppercase
    font-size: 38px
    line-height: 1.2
    +TAB_MIN
      font-size: 67px * 0.8
    +PC_MIN
      font-size: 67px
  
  &__subTitle
    color: $blueLight
    font-size: 32px
    +TAB_MIN
      font-size: 38px * 0.8
    +PC_MIN
      font-size: 38px
  
  &__info
    background: $blueTransBlack
    color: $white
    position: absolute
    left: 0
    bottom: 0
    width: 90%
    +TAB_MIN
      width: 50%
    +TAB_MAX
      +font(size 16px)
    +PC_MIN
      +font(size 21px)