- var itemStyle = "background-image: url("+ imgDir +"banner__bg.jpg)";
.banner(style=itemStyle)
  .banner__container
    .banner__text.wow.fadeInDown(data-wow-delay="0.6s")
      .banner__title Some really big title
      .banner__subTitle and a smaller subtitle

    .banner__info.wow.fadeInUp(data-wow-delay="0.9s") Founded in 2009, SBC (Sports Betting Community) holds a strong position within the gaming and sports industries, providing a full range of services, including news coverage, media services, exhibitions, conferences, awards and charity events.