.icons
  +flex-center
  color: $blueDark
  &.-light
    color: $white
    
  &__item
    +flex-center
    height: 33px
    width: 33px
    border-radius: 50%
    background: $blue
    margin: 0 10px
    &:hover
      text-decoration: none
      transition: 0.3s ease all
      background: darken($blue, 10%)
    
    .fa
      +font(size 20px)
    
    .fa-twitter
      +font(size 21px)