.icons.-light
  a.icons__item(href="https://www.linkedin.com/company/oddslife" target="_blank")
    i.fa.fa-linkedin
  a.icons__item(href="https://twitter.com/oddslife" target="_blank")
    i.fa.fa-twitter
  a.icons__item(href="https://www.facebook.com/oddslife/" target="_blank")
    i.fa.fa-facebook