.form
  position: relative
  background: $white
  padding: 17px 20px
  border-radius: 12px
  
  &__msg
    position: absolute
    top: calc(100% - 125px)
    left: 50%
    transform: translate(-50%, 0)
    padding: 10px 20px
    opacity: 1
    color: $gray
    transition: 0.3s ease all
    z-index: 9999
    text-transform: uppercase
    width: calc(100% - 40px)
    border-radius: 6px
    &.-positive
      background: $green
    &.-negative
      background: $red
    &.-hide
      opacity: 0
      transform: translate(-50%, -100%)
      pointer-events: none
  
  &__row
    display: flex
    justify-content: space-between
    +MAX(767px)
      flex-direction: column
  
  &__input, &__textarea
    +fontLato
    +font(size 16px weight 300)
    +placeholder
      color: $gray
    display: block
    width: 100%
    border-radius: 6px
    border: 1px solid $grayBorder
    color: $gray
    margin-bottom: 15px
    padding: 15px 10px
    &.-invalid
      background-color: transparentize($red, 0.7)
    &:focus
      outline: none
      background-color: darken($white, 10%)
      
  &__input
    +MIN(768px)
      width: calc(50% - 10px)

  &__textarea
    +size(height 220px)
    resize: none
    overflow: auto
    
  &__button
    text-align: right