.testi
  .test__box.wow.fadeInUp
    .testi__title
      include ../title/title

    .testi__slider
      - for(var i = 1; i <= 3; i++)
        .testi__item
          .testi__box
            .testi__text “SBC Events have provided the perfect platform for us to launch our new products. The list of attendees is always a who’s who of the betting industry and offers a fantastic environment to network and catch up with existing partners. Overall very impressed with the organisation and the support we have received throughout the events.”
            .testi__sign Betfred

    .testi__arrows.zoomIn