=TESTI_RES
  @media (min-width: $pc) and (max-width: 1300px)
    @content

.testi
  padding: 100px 0
  text-align: center
  position: relative
  
  &__title
    margin-bottom: 25px
  
  &__item
    +font(size 21px)
    display: flex !important
    align-items: center
    justify-content: center
  
  &__box
    max-width: 550px
    +TESTI_RES
      max-width: 350px
  
  &__text
    +font(style italic)
  
  &__sign
    margin-top: 20px
  
  &__arrowBox
    +flex-center
    position: absolute
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    width: 40px
    height: 64px
    +TAB_MIN
      width: 60px
      height: 96px
      
    &.-next
      right: 0
    
    &.-prev
      left: 0
  
  &__arrow
    +PHONE_ONLY
      transform: scale(0.67)
    
    
    